@{
    ViewData["Title"] = "Confirmação Apagar Contato";
}

<div class="text-center">
    <h3>Deseja Realmente Apagar o Contato?</h3>
    <a class="btn btn-primary btn-block" role="button">Cancelar</a>
    <a class="btn btn-danger btn-block" role="button">Confirmar</a>
</div>
